/* 
    1- HEADER
    2- SECTION
*/



:root {
    --black: #000000;
    --light-gray: #f1f1f1;
    --color-white: #FFFFFF;
    --acqua-blue: #327AFF;
    --steel-blue: #34495e;
    --gradient-color: linear-gradient(to right, #34495E, #327AFF);
    --gradient-color-hover: linear-gradient(to right, #6096bc, #6db0db);
    --border-color: #bbbbbb;
    --text-placeholder:#606060;
}

* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

    /* 1- HEADER */

header {
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/img/predio.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#time{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.number{
    font-size: 32px;
    font-weight: 700;
    color: var(--color-white);
    text-shadow: var(--black) 0.1em 0.1em 0.2em;
    letter-spacing: 1.5px;
}

.description{
    font-size: 15px;
    font-weight: 800;
    color: var(--color-white);
    text-shadow: var(--black) 0.1em 0.2em 0.2em;
    letter-spacing: 1.5px;
}

    /* 2- SECTION */
    
.newsletters{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
    padding: 0 16px;
}

.newsletters h1{
    background: var(--gradient-color); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
    font-size: 38px;
    font-weight: 700;
}

.newsletters h3{
    font-size: 13px;
    font-weight: 600;
}

.newsletters p{
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    
}

.user-email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 13px;
}

.user-email .btn, input{
    width: 316px;
    height: 44px;
    border-radius: 54px;
    border: solid 1px var(--border-color);
}

input{
    padding: 13px 17px;
    font-size: 12px;
    font-weight: 300;
    color: var(--text-placeholder);
}

.btn{
    font-size: 14px;
    font-weight: 500;
    background: var(--gradient-color);
    color: var(--color-white);
}

.btn:hover{
    background: var(--gradient-color-hover);
    cursor: pointer;
}
